// Place all the styles related to the Stack controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.link {
	cursor: pointer;
}

.stack > *:not(.active) {
  display: none
}