// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.userslist {
	padding: 8px 0px 8px 0px;
  	border-bottom: 1px solid #DDD;
  	margin-left: 0px;
}