<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Substack</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" charset="utf-8">
    jQuery(function(){
      new App();
    });
  </script>
  <script type="text/javascript">
    // $(function () {
    //   $('#make_admin').bind('click', function(event) {
    //     alert("Ararm!!!");
    //     $('#is_admin').text("admin");
    //   });
    //   $('#make_user').bind('click', function(event) {
    //     $('#is_admin').text("");
    //   });
    // });
  </script>

</head>
<body>
  <div class="container">
    <h2>Admin zone</h2>

      <div class="row">
        <div class="span3">
          <div id="sidebar">
          </div>
        </div>
        <div class="span9">
          <div id="main">
          </div>
        </div>
      </div>

  </div>
</body>
</html>
